<% include partials/index-header.ejs %>
<form>
    <table>
        <tr>
            <td>
                <label>Username</label>
            </td>
            <td>
                <input type="text" required>
            </td>
        </tr>
        <tr>
            <td>
                <label>Email</label>
            </td>
            <td>
                <input type="email" required>
            </td>
        </tr>
        <tr>
            <td>
                <label>Password</label>
            </td>
            <td>
                <input type="password" required>
            </td>
        </tr>
    </table>
    <button type="button">Sign Up</button>
</form>