<link rel="stylesheet" type="text/css" href="css/app.css">

<h1>Anime Posts</h1>

<% anime_list.forEach(function(anime) { %>
    <li>
        <strong><%= anime.name %></strong> ( <%= anime.type %> )
    </li>
<% });%>